@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/open-sans.woff2") format("woff2"), url("../fonts/open-sans.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/playfair-display.woff2") format("woff2"), url("../fonts/playfair-display.woff") format("woff");
}

@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/playfair-display-bold.woff2") format("woff2"), url("../fonts/playfair-display-bold.woff") format("woff");
}

.container,
body {
    box-sizing: border-box;
}

body {
    padding: 0;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    background-color: #f9fdff;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1220px;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.page-main h1,
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    font-size: 1px;
    white-space: nowrap;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
}

@media (max-width: 767px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .no-scroll {
        overflow: hidden;
    }
}

.page-header {
    overflow: hidden;
}

.page-header__wrapper {
    display: flex;
    padding-top: 85px;
    position: relative;
}

.page-header__wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 200%;
    top: 0;
    left: 65.5%;
    background-color: #fceae8;
    z-index: -1;
}

.page-header__logo {
    padding-top: 5px;
}

.page-header__site-nav {
    flex-grow: 1;
    margin-left: 140px;
    padding-top: 5px;
}

@media (max-width: 1023px) {
    .page-header__wrapper {
        padding-top: 50px;
        background: linear-gradient(to left, #fceae8 300px, #f9fdff 300px);
    }
}

@media (max-width: 767px) {
    .page-header {
        padding-bottom: 16px;
        overflow: visible;
        background: #ffffff;
    }

    .page-header__wrapper {
        flex-wrap: wrap;
        width: 100%;
        padding: 20px 14px 0 16px;
        box-sizing: border-box;
        background: #ffffff;
    }

    .page-header__wrapper::before {
        display: none;
    }

    .page-header__wrapper .page-header__user-nav {
        margin-left: auto;
    }

    .page-header__logo {
        width: 20px;
        padding-top: 2px;
    }

    .page-header__site-nav {
        order: 2;
        margin-left: 0;
        flex-grow: 0;
    }

    .page-header__user-nav {
        width: auto;
    }
}

.site-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav__item {
    width: 33.3%;
}

.site-nav__item:nth-child(3n) {
    text-align: right;
}

.site-nav__item a {
    font-size: 14px;
    line-height: 19px;
    color: #303032;
    text-transform: uppercase;
    letter-spacing: .13em;
}

.site-nav__item a:focus,
.site-nav__item a:hover {
    opacity: 0.8;
}

.site-nav__item a:active {
    opacity: 0.6;
}

.site-nav__button {
    display: none;
}

@media (max-width: 767px) {
    .site-nav__list {
        flex-direction: column;
        width: 100%;
    }

    .site-nav__item {
        width: 100%;
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }

    .site-nav__item:nth-child(3n) {
        text-align: center;
    }

    .site-nav__item a {
        font-size: 18px;
        line-height: 25px;
    }

    .site-nav {
        padding-top: 2px;
    }

    .site-nav--closed {
        width: auto;
    }

    .site-nav--closed .site-nav__list {
        display: none;
    }

    .site-nav--closed .site-nav__button {
        display: block;
        width: 29px;
        height: 19px;
        margin-left: 38px;
        background-color: transparent;
        background-image: url("../img/icon-burger.svg");
        background-repeat: no-repeat;
        background-size: 29px 19px;
        background-position: center;
        border: 0;
        outline: 0;
        cursor: pointer;
    }

    .site-nav--opened {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100vh;
        padding-top: 187px;
        box-sizing: border-box;
        background-color: #303032;
        overflow: auto;
    }

    .site-nav--opened .site-nav__list {
        display: flex;
        z-index: 100;
    }

    .site-nav--opened .site-nav__item {
        margin-top: 0;
        margin-bottom: 65px;
    }

    .site-nav--opened .site-nav__item a {
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
    }

    .site-nav--opened .site-nav__button {
        position: absolute;
        top: 25px;
        right: 25px;
        display: block;
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-image: url("../img/icon-cross.svg");
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
        border: 0;
        outline: 0;
        cursor: pointer;
    }

    .site-nav--no-js {
        width: 100%;
    }

    .site-nav--no-js .site-nav__list {
        display: flex;
    }

    .site-nav--no-js .site-nav__button {
        display: none;
    }
}

.user-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
}

.user-nav__item {
    margin-left: 22px;
}

.user-nav__item a {
    display: block;
}

.user-nav__item a:focus,
.user-nav__item a:hover {
    opacity: 0.8;
}

.user-nav__item a:active {
    opacity: 0.6;
}

.user-nav__item--cart a,
.user-nav__item--search a {
    width: 24px;
    height: 28px;
    background-image: url("../img/icon-magnifier.svg");
    background-repeat: no-repeat;
    background-size: 24px 27px;
    background-position: center bottom;
}

.user-nav__item--cart a {
    width: 33px;
    background-image: url("../img/icon-cart.svg");
    background-size: 33px 28px;
    background-position: center;
}

@media (max-width: 767px) {
    .user-nav {
        margin-right: 0;
    }

    .user-nav__item {
        margin-left: 19px;
    }

    .user-nav__item--search {
        margin-top: 2px;
    }

    .user-nav__item--search a {
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
        background-position: center center;
    }

    .user-nav__item--cart a {
        width: 28px;
        height: 24px;
        background-size: 28px 24px;
    }
}

.page-main {
    overflow: hidden;
}

.main-screen {
    position: relative;
}

.main-screen::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 64.5%;
    background-color: #fceae8;
    z-index: -1;
}

.main-screen .swiper-pagination {
    top: 216px;
    left: auto;
    right: 2.3%;
    width: 41px;
}

.main-screen .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-bottom: 0 0 20px 0;
}

.main-screen .swiper-pagination-bullets .swiper-pagination-bullet-active {
    margin-top: -20px;
}

.main-screen .swiper-slide {
    background: linear-gradient(to right, #f9fdff 66.1%, #fceae8 66.1%);
}

.main-screen .swiper-scrollbar {
    display: none;
}

.main-screen .swiper-pagination-bullet {
    width: 41px;
    height: 29px;
    font-family: "Playfair Display", "Georgia", serif;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-align: right;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .3);
    background: 0 0;
    border-radius: none;
    opacity: 1;
}

.main-screen .swiper-pagination-bullet:focus,
.main-screen .swiper-pagination-bullet:hover {
    color: rgba(0, 0, 0, .8);
    outline: 0;
}

.main-screen .swiper-pagination-bullet-active {
    position: relative;
    width: 41px;
    height: 58px;
    margin-top: -20px;
    font-size: 40px;
    line-height: 58px;
    color: #000000;
}

.main-screen .swiper-pagination-bullet-active::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -20px;
    width: 2px;
    height: 54px;
    background-color: #000000;
}

@media (max-width: 1023px) {
    .main-screen .swiper-slide {
        background: linear-gradient(to right, #f9fdff 66.1%, #fceae8 62.1%);
    }

    .main-screen .swiper-pagination {
        top: 244px;
        left: auto;
        width: 41px;
    }
}

@media (max-width: 767px) {
    .main-screen::before {
        height: 327px;
    }

    .main-screen .swiper-scrollbar {
        bottom: 21px;
        left: 0;
        width: calc(100% - 64px);
        height: 2px;
        display: block;
    }

    .main-screen .swiper-pagination {
        top: auto;
        bottom: 9px;
        right: 0;
        width: auto;
        height: auto;
        font-weight: 600;
        font-size: 15px;
        line-height: 26px;
    }

    .main-screen .swiper-slide {
        background: #f9fdff 64%;
    }
}

.product--slider,
.product--slider .product__info,
.product--slider .product__info p {
    display: flex;
}

.product--slider {
    min-height: 628px;
    box-sizing: border-box;
    padding-top: 7px;
}

.product--slider .product__info {
    position: relative;
    flex-direction: column;
    flex-shrink: 1;
    width: 566px;
}

.product--slider .product__info h2 {
    width: 300px;
    margin: 109px 0 25px;
    padding: 0;
    font-family: "Playfair Display", "Georgia", serif;
    font-weight: 700;
    font-size: 57px;
    line-height: 83px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #303032;
}

.product--slider .product__info h3 {
    margin-top: 0;
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #303032;
}

.product--slider .product__info p {
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    color: #303032;
}

.product--slider .product__info p span {
    margin-top: 11px;
    margin-right: 22px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.product--slider .product__button {
    width: 238px;
    margin-bottom: 156px;
    padding: 18px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .13em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #303032;
    border: 0;
    cursor: pointer;
}

.page-footer__navigation-item a:focus,
.page-footer__navigation-item a:hover,
.product--slider .product__button:focus,
.product--slider .product__button:hover {
    opacity: 0.8;
}

.page-footer__navigation-item a:active,
.product--slider .product__button:active {
    opacity: 0.6;
}

.product--slider .product__image {
    margin-right: 6.7%;
    width: 532px;
    height: 628px;
}

.product--slider .product__image img {
    width: 532px;
    height: auto;
    margin-top: -123px;
    margin-left: 12px;
}

.product--new,
.product--sale {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product--new .product__image {
    width: 100%;
    height: 201px;
    overflow: hidden;
}

.product--new h3,
.product--new p {
    width: 100%;
    margin: -2px 0 7px;
    padding: 0 5px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #303032;
    text-align: center;
}

.product--new p {
    margin: 0 0 17px;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

.product--sale {
    position: relative;
    margin-bottom: 65px;
    padding-top: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    cursor: pointer;
}

.product--sale:focus::before,
.product--sale:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #303032;
}

.product--sale:focus .product__button,
.product--sale:hover .product__button {
    display: block;
}

.product--sale .product__image {
    width: 100%;
    height: 255px;
    overflow: hidden;
}

.product--sale .product__price-wrapper,
.product--sale h3 {
    width: 100%;
    box-sizing: border-box;
}

.product--sale h3 {
    padding-left: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0 0 10px;
}

.product--sale .product__price-wrapper {
    display: flex;
    margin: 0 0 0 25px;
}

.product--sale .product__price {
    font-weight: 500;
}

.product--sale .product__price--new {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #303032;
}

.product--sale .product__price--old {
    margin-top: 11px;
    margin-left: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #979798;
    text-decoration: line-through;
}

.product--sale .product__button {
    position: absolute;
    bottom: -45px;
    display: none;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .13em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #303032;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.product--caramel img {
    display: block;
    width: 209px;
    margin-left: auto;
    margin-top: 3px;
}

.product--cloud img,
.product--owl img {
    display: block;
    width: 197px;
    margin-left: auto;
}

.product--owl img {
    width: 167px;
    margin-top: 9px;
}

.product--maya img,
.product--messi img {
    display: block;
    width: 186px;
    margin-left: auto;
    margin-top: -30px;
}

.product--messi img {
    width: 162px;
    margin-top: 6px;
}

@media (max-width: 1023px) {
    .product--slider {
        min-height: auto;
        background: linear-gradient(to left, #fceae8 280px, #f9fdff 280px);
    }

    .product--slider .product__info {
        width: auto;
        margin-left: 124px;
    }

    .product--slider .product__info h2 {
        width: 250px;
        font-size: 33px;
        line-height: 50px;
    }

    .product--slider .product__button {
        margin-bottom: 100px;
    }

    .product--slider .product__image {
        margin-right: 40px;
        margin-left: auto;
        width: 400px;
        height: 564px;
    }

    .product--slider .product__image img {
        width: 532px;
        height: auto;
        margin-top: -50px;
    }
}

@media (max-width: 767px) {
    .product--slider {
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: auto;
        padding: 0 0 60px;
        background: #f9fdff;
    }

    .product--slider .product__info {
        order: 2;
        box-sizing: border-box;
    }

    .product--slider .product__info h2 {
        width: 100%;
        margin-top: 26px;
        margin-bottom: 21px;
        box-sizing: border-box;
        font-size: 27px;
        line-height: 46px;
    }

    .product--slider .product__info h3 {
        margin-bottom: 6px;
    }

    .product--slider .product__info p {
        margin-bottom: 30px;
    }

    .product--slider .product__info p span {
        margin-top: 9px;
    }

    .product--slider .product__image {
        display: flex;
        width: 100%;
        height: 327px;
        background: linear-gradient(to right, #f9fdff 64%, #fceae8 64%);
        overflow: hidden;
    }

    .product--slider .product__image img {
        display: block;
        width: 277px;
        height: 391px;
        padding-left: 27px;
        margin: -32px auto 0;
    }

    .product--slider .product__button {
        width: 100%;
        margin-bottom: 0;
    }

    .product--sale {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 110px;
    }

    .product--sale .product__image {
        height: 299px;
    }

    .product--sale .product__button {
        display: block;
    }

    .product--sale::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #303032;
    }

    .product--caramel {
        padding-top: 30px;
    }

    .product--caramel h3,
    .product--caramel p {
        padding-left: 25px;
    }

    .product--caramel img {
        display: block;
        width: 232px;
        height: 287px;
        margin-left: auto;
        margin-top: 12px;
    }
}

/* Новинки */
.novelties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
}

.new-chair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #303032;
    text-transform: uppercase;
    position: relative;
}

.new::before {
    content: '';
    width: 90px;
    height: 4px;
    background-color: #303032;
    position: absolute;
    top: 50px;
}

.chair-twilight img {
    width: 175px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.chair-twilight,
.chandelier,
.table {
    min-width: 270px;
    background-color: #fff;
    text-align: center;
    color: #303032;
    margin-bottom: 37px;
    padding-bottom: 16px;
}

.chair-twilight {
    margin-top: 0px;
}

.name {
    font-size: 20px;
    line-height: 27px;
    display: block;
    text-align: center;
}

.price {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

.chandelier img {
    width: 202px;
}

.table:hover,
.chandelier:hover,
.chair-twilight:hover,
.chair-white:hover {
    background-color: #FAECE9;
}

.table img {
    width: 270px;
    height: 198px;
}

.new-chair {
    max-width: 570px;
}

.chair-white {
    width: 570px;
    max-height: 630px;
    text-align: center;
    background-color: #fff;
}

.chair-white img {
    width: 490px;
    height: 466px;
    padding-top: 19px;
    padding-bottom: 29px;
}

@media (max-width:1024px) {
    .novelties {
        margin-top: 100px;
    }

    .new-chair {
        max-width: 500px;
    }

    .chair-twilight {
        min-width: 258px;
        height: auto;
        margin-bottom: 20px;
    }

    .chandelier {
        min-width: 224px;
        height: auto;
    }

    .chandelier img {
        max-width: 192px;
        height: auto;
        padding: 0 20px 0 20px;
    }

    .table {
        min-width: 250px;
        height: auto;
    }

    .table img {
        max-width: 258px;
        height: auto;
    }

    .chair-white {
        max-width: 464px;
        margin-left: 20px;
    }

    .chair-white img {
        max-width: 410px;
        height: auto;
    }

    .name {
        font-size: 18px;
    }

    .price {
        font-size: 24px;
    }
}

@media (max-width:769px) {
    .novelties {
        margin-top: 80px;
    }

    .new-chair {
        flex-basis: 50%;
    }

    .new {
        font-size: 24px;
    }

    .new::before {
        width: 80px;
        height: 4px;
        top: 40px;
    }

    .chair-twilight {
        min-width: 178px;
        margin-bottom: 10px;
    }

    .chair-twilight img {
        max-width: 144px;
    }

    .chandelier {
        min-width: 176px;
        margin-bottom: 0;
    }

    .chandelier img {
        max-width: 134px;
        padding: 0 20px 0 20px;
    }

    .table {
        min-width: 106px;
        height: auto;
        margin-bottom: 0;
    }

    .table img {
        max-width: 178px;
    }

    .chair-white {
        max-width: 354px;
        margin-left: 10px;
    }

    .chair-white img {
        max-width: 320px;
        height: auto;
    }

    .name {
        font-size: 14px;
    }

    .price {
        font-size: 20px;
    }
}

@media (max-width:426px) {
    .new {
        font-size: 26px;
    }

    .new::before {
        width: 90px;
        height: 4px;
        top: 40px;
    }

    .novelties {
        justify-content: center;
        margin-top: 80px;
    }

    .chair-twilight img {
        min-width: 304px;
        height: auto;
    }

    .chair-twilight {
        margin-top: 30px;
        padding: 40px;
        min-width: 305px;
        margin-bottom: 37px;
    }

    .chandelier {
        padding: 0 40px 40px 40px;
        min-width: 305px;
    }

    .chandelier img {
        min-width: 265px;
        height: auto;
        margin-bottom: 6px;
    }

    .table {
        padding: 40px;
        min-width: 305px;
    }

    .table img {
        min-width: 300px;
        height: auto;
    }

    .chair-white {
        padding: 40px;
        min-width: 305px;
        height: auto;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .name {
        font-size: 18px;
        padding: 5px;
    }

    .price {
        font-size: 30px;
    }
}

@media (max-width:376px) {
    .novelties {
        width: 100%;
        min-height: auto;
        margin-top: 60px;
    }

    .new {
        margin-left: 20px;
    }
}

@media (max-width:320px) {
    .new {
        margin-left: 44px;
    }

    .chair-twilight img {
        min-width: 270px;
        height: auto;
    }

    .chair-twilight {
        margin-top: 20px;
        padding: 0 40px 20px 40px;
    }

    .chair-twilight,
    .chandelier,
    .table {
        margin-bottom: 15px;
    }

    .chandelier {
        padding: 0 20px 20px 40px;
    }

    .table {
        padding: 0 20px 20px 40px;
    }

    .chair-white {
        padding: 0 40px 20px 40px;
    }

    .price {
        font-size: 26px;
    }
}

/* Отзывы */
.main-avatar {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 120px;
}

.main-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.title {
    color: #444348;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans, "Arial", sans-serif;
    font-weight: 700;
    line-height: 154.358%;
}

.subtitle {
    font-weight: 400;
}

.reviews-text {
    color: #444348;
    text-align: center;
    font-size: 16px;
    font-family: Open Sans, "Arial", sans-serif;
    font-style: italic;
    line-height: 154.358%;
    font-weight: 400;
    margin-top: 20px;
}


/* Слайдер отзывы */
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.swiper-scrollbar {
    position: relative;
    text-align: center;
}

.review-slider {
    position: relative;
    margin-bottom: 220px;
}

.review__slider-pagination {
    position: relative;
    text-align: center;
    transition: .3s opacity;
}

.swiper-button-prev {
    background: url(../img/arrow-left.svg) no-repeat;
    background-size: 20px;
    background-position: 7px 12px;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    background: url(../img/arrow-right.svg) no-repeat;
    background-size: 20px;
    background-position: 7px 12px;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: prointer;
    text-align: center;
    width: 36px;
    height: 36px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.35;
    color: #2D2D2D;
}

.review-slider .swiper-button-prev:hover,
.review-slider .swiper-button-next:hover {
    background-color: #FAECE9;
}

.review-slider .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin-right: 10px;
    background-color: #fff;
    border: 2px solid black;
    opacity: 0.2;
}

.review-slider .swiper-pagination-bullet-active {
    opacity: 0.2;
    background-color: black;
}


@media (max-width:768px) {
    .main-avatar {
        margin-top: 80px;
    }

    .review-slider {
        position: relative;
        margin-bottom: 100px;
    }

    .review-slider .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin-right: 6px;
    }


    @media (max-width:426px) {
        .review-slider {
            display: none;
        }
    }
}


/* Последний шанс */
.last-change {
    position: relative;
    margin-bottom: 120px;
}

.last-change::before {
    content: "";
    position: absolute;
    height: 545px;
    width: 200%;
    top: -70px;
    right: 44%;
    background-color: #fceae8;
    z-index: -1;
}

.change {
    color: #303032;
    font-size: 28px;
    font-family: "Playfair Display", "Georgia", serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    position: relative;
    margin-bottom: 48px;
    text-transform: uppercase;
    position: relative;
}

.change::before {
    content: '';
    width: 90px;
    height: 4px;
    background-color: #303032;
    position: absolute;
    top: 50px;
}

/*табы */
.tabs-list {
    display: inline-flex;
    align-items: center;
    margin-bottom: 31px;
}

.tabs-content {
    display: none;
}

.tabs-content__active {
    display: block;
}

.tabs-btn {
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-size: 16px;
    font-family: Open Sans, "Arial", sans-serif;
    font-weight: 600;
    line-height: 153.885%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: transparent;
    margin-right: 49px;
}

.tabs-btn__active {
    color: #000;
    text-decoration-line: underline;
    border: 0;
    background-color: transparent;
}

.chair-wrapper {
    display: inline-flex;
    justify-content: space-between;
}

.content {
    min-width: 210px;
    min-height: 355px;
    padding: 30px 0 0 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(56, 54, 53, 0.20);
    position: relative;
    box-sizing: border-box;
}

.content h3 {
    font-size: 16px;
    font-family: Open Sans, "Arial", sans-serif;
    font-weight: 400;
    margin-bottom: 11px;
}

.new-price {
    color: #979798;
    font-weight: 600;
    text-decoration: line-through;
    display: inline-flex;
}

.old-price {
    color: #303032;
    font-size: 28px;
    font-weight: 600;
    margin-right: 11px;
    display: inline-flex;
}

.content img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 268px;
}

.item-line::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 5px;
    background-color: #303032;
    top: -4px;
    left: 0px;
    display: none;
    width: 209px;
}

.content:hover .item-line::before {
    display: block;
}

.change__button {
    position: absolute;
    left: 0px;
    bottom: -48px;
    width: 210px;
    padding: 18px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .13em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #303032;
    border: 0;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.content:hover .change__button {
    display: block;
}

.chair-wrapper,
.armchairs {
    height: 400px;
}

@media (max-width:1024px) {
    .last-change {
        margin-bottom: 460px;
    }

    .chair-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .content {
        min-width: 290px;
        min-height: 355px;
        margin-left: 7px;
        margin-bottom: 82px;
    }

    .item-line::before {
        width: 290px;
    }

    .change__button {
        width: 290px;
    }
}

@media (max-width:768px) {
    .last-change::before {
        height: 850px;
    }

    .content {
        min-width: 204px;
        min-height: 359px;
        margin-left: 7px;
    }

    .item-line::before {
        width: 204px;
    }

    .change__button {
        width: 204px;
    }
}

@media (max-width:426px) {
    .content {
        min-width: 310px;
    }

    .last-change {
        margin-bottom: 1726px;
    }

    .change__button {
        width: 310px;
    }

    .item-line::before {
        width: 310px;
    }

    .change {
        font-size: 24px;
    }

    .change::before {
        width: 90px;
        height: 4px;
        top: 40px;
    }

    .last-change::before {
        top: -28px;
        right: 24%;
    }

    .tabs-btn {
        margin-right: 30px;
    }

    .content {
        margin-left: 44px;
        margin-bottom: 70px;
    }
}

@media (max-width:376px) {
    .change {
        font-size: 20px;
        margin-bottom: 34px;
    }

    .change::before {
        width: 72px;
        height: 3px;
        top: 32px;
    }

    .tabs-btn {
        font-size: 14px;
        margin-right: 26px;
    }

    .tabs-list {
        margin-bottom: 26px;
    }

    .content {
        margin-left: 17px;
        margin-bottom: 68px;
    }

    .last-change::before {
        height: 476px;
    }
}

@media (max-width:320px) {
    .last-change::before {
        right: 0%;
        height: 2280px;
    }


    .change {
        font-size: 24px;
        margin-bottom: 52px;
    }

    .change::before {
        width: 95px;
        height: 5;
        top: 44px;
    }

    .tabs-btn {
        font-size: 16px;
        margin-right: 38px;
    }

    .content {
        min-width: 258px;
        min-height: 354px;
        margin-left: 18px;
    }

    .item-line::before {
        width: 258px;
    }

    .change__button {
        width: 258px;
    }
}


/* footer */
.footer-logo {
    display: inline-flex;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 85px;
}

.footer-subtitle {
    font-size: 14px;
    line-height: 19px;
    color: #303032;
    text-transform: uppercase;
    letter-spacing: .13em;
    margin-left: 60px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 30px;
}

.footer-bottom svg {
    margin-right: 8px
}

.footer-phone {
    margin-right: 50px;
    vertical-align: middle;
    align-items: center;
}

.footer-phone svg {
    vertical-align: middle;
}

.footer-email svg {
    width: 15px;
    height: 17px;
    fill: #636060
}

.footer-email {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.phone,
.mail {
    font-size: 16px;
}

.footer-subtitle:hover,
.footer-phone:hover,
.footer-email:hover {
    opacity: 0.8;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #00000033;
    margin-bottom: 20px;
}

.footer-reserved {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-family: Avenir Next;
    line-height: 0%;
    opacity: .3;
    margin-bottom: 20px;
}

@media (max-width:768px) {
    .footer-subtitle {
        font-size: 12px;
    }

    .phone,
    .mail {
        font-size: 12px;
    }

    .footer-reserved {
        font-size: 10px;
    }

    .footer-bottom {
        margin-bottom: 16px;
    }

    .footer-top {
        padding-bottom: 70px;
    }

    .footer-line {
        margin-bottom: 15px;
    }

    .footer-reserved {
        margin-bottom: 15px;
    }

    .footer-subtitle {
        margin-left: 82px;
    }
}


@media (max-width:426px) {
    .footer-top {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;

    }
}

@media (max-width:376px) {
    .footer-phone {
        padding-bottom: 14px;
    }

    .footer-top {
        padding-bottom: 54px;
    }

    .footer-subtitle {
        font-size: 14px;
        line-height: 34px;
        margin-left: 58px;
    }
}

@media (max-width:322px) {
    .footer-top {
        flex-wrap: wrap;
    }

    .footer-subtitle {
        font-size: 14px;
        margin: 0 18px 0 0;
        line-height: 34px;
    }

    .page-header__logo img {
        margin-bottom: 10px;
    }

    .footer-top {
        padding-bottom: 26px;
    }
}


/* атомарные классы */
.mt-28 {
    margin-top: 28px;
}

.mr31 {
    margin-right: 31px;
}